sudo: false
language: python
python:
 - "2.7"
 - "3.5"
 - "3.6"
 - "3.7"
install:
 - pip install -U setuptools
 - pip install -r requirements.txt
 - pip install -U pytest pytest-cov coveralls
 - python setup.py develop
script:
  py.test --cov skosprovider_rdf --cov-report term-missing tests
after_success:
  coveralls
